@layer utilities {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.25 0.008 255.21);
        --primary: oklch(0.55 0.191 263.8);
        --primary-foreground: oklch(0.98 0.003 252.11);
        --secondary: oklch(0.95 0.005 252.11);
        --secondary-foreground: oklch(0.25 0.008 252.11);
        --destructive: oklch(0.589 0.199 27.84);
        --destructive-foreground: oklch(0.99 0.001 253.77);

        /* Components Colors */
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.15 0.011 252.11);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.15 0.011 252.11);
        --muted: oklch(0.95 0.005 252.11);
        --muted-foreground: oklch(0.55 0.015 252.11);
        --accent: oklch(0.95 0.005 252.11);
        --accent-foreground: oklch(0.25 0.008 252.11);

        /* Border & Input Colors */
        --border: oklch(0.89 0.008 252.11);
        --input: oklch(0.89 0.008 252.11);
        --ring: oklch(0.25 0.008 252.11);

        &:where([data-theme="dark"], [data-theme="dark"] *) {
            --background: oklch(0.15 0.011 252.11);
            --foreground: oklch(0.98 0.003 252.11);
            --primary: oklch(0.679 0.211 263.8);
            --primary-foreground: oklch(0.25 0.008 252.11);
            --secondary: oklch(0.28 0.008 252.11);
            --secondary-foreground: oklch(0.98 0.003 252.11);
            --destructive: oklch(0.589 0.199 27.84);
            --destructive-foreground: oklch(0.99 0.001 253.77);

            /* Components Colors */
            --card: oklch(0.15 0.011 252.11);
            --card-foreground: oklch(0.98 0.003 252.11);
            --popover: oklch(0.15 0.011 252.11);
            --popover-foreground: oklch(0.98 0.003 252.11);
            --muted: oklch(0.28 0.008 252.11);
            --muted-foreground: oklch(0.65 0.015 252.11);
            --accent: oklch(0.28 0.008 252.11);
            --accent-foreground: oklch(0.98 0.003 252.11);

            /* Border & Input Colors */
            --border: oklch(0.28 0.008 252.11);
            --input: oklch(0.28 0.008 252.11);
            --ring: oklch(0.85 0.008 252.11);
        }
    }
}
